{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}New Product{% endblock %}</h1>
{% endblock %}


{% block content %}
  <form method="post">
    <div class="product">
      <label for="productId">Product</label>
      <select name="productId" id="productId" required>
        {% for product in products %}
          <option value="{{ product.id }}">{{ product.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="amount">
      <label for="amount">Amount</label>
      <input type="number" name="amount" id="amount" min="1" required>
    </div>
    <div class="date">
      <label for="date">Deadline date</label>
      <input type="date" name="date" id="date" required>
    </div>
    <input type="submit" value="Add">
  </form>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
{% endblock %}